<header class="sticky top-0 shadow-lg z-10" [ngClass]="{'bg-green-950': isScrolled, 'bg-transparent': !isScrolled}">
    <nav class="text-secondary-foreground flex justify-between items-center p-3 ">
        <a [routerLink]="['/']" fragment="introducing"
            class="text-base cursor-pointer hover:scale-105 transition ease-in-out" i18n>A propos de moi</a>
        <a [routerLink]="['/']" fragment="skills"
            class="text-base cursor-pointer hover:scale-105 transition ease-in-out" i18n>Compétences</a>
        <a [routerLink]="['/']" fragment="experience"
            class="text-base cursor-pointer hover:scale-105 transition ease-in-out" i18n>Expérience</a>
        <a [routerLink]="['/']" fragment="projects"
            class="text-base cursor-pointer hover:scale-105 transition ease-in-out" i18n>Projets</a>
        <a [routerLink]="['/']" fragment="contact"
            class="text-base cursor-pointer hover:scale-105 transition ease-in-out" i18n>Contact</a>
        <app-button text="Obtenir mon CV"></app-button>
        <img src="header-img/fr-flag.jpg" alt="i18n" class="w-10 h-7 rounded-sm" />
        <img src="header-img/en-flag.png" alt="i18n" class="w-10 h-7 rounded-sm" />
    </nav>
</header>