<button (click)="toggleMenu()" class="md:hidden bg-inherit hover:bg-inherit flex flex-col gap-1 p-[1rem]">
    <span class="h-0.5 w-6 bg-white transition-all white"></span>
    <span class="h-0.5 w-6 bg-white transition-all"> </span>
    <span class="h-0.5 w-6 bg-white transition-all"></span>
</button>

@if (isOpen) {
<div class="text-white flex flex-col items-center gap-2 p-2 w-[10rem] bg-secondary rounded-[1rem]">
    <a [routerLink]="['/']" fragment="introducing"
        class="text-base cursor-pointer hover:scale-105 transition ease-in-out">{{ 'header.aboutMe' | translate
        }}</a>
    <a [routerLink]="['/']" fragment="skills" class="text-base cursor-pointer hover:scale-105 transition ease-in-out">{{
        'header.skills' | translate
        }}</a>
    <a [routerLink]="['/']" fragment="experience"
        class="text-base cursor-pointer hover:scale-105 transition ease-in-out">{{ 'header.experience' | translate
        }}</a>
    <a [routerLink]="['/']" fragment="projects"
        class="text base cursor-pointer hover:scale-105 transition ease-in-out">{{'header.projects' | translate
        }}</a>
    <a [routerLink]="['/']" fragment="contact"
        class="text-base cursor-pointer hover:scale-105 transition ease-in-out">{{ 'header.contact' | translate
        }}</a>
    <a href="/CV_Alicia_Magro.pdf" download="CV_Alicia_Magro.pdf">
        <app-button [text]="'header.getResume' | translate" [small]="true"></app-button>
    </a>
</div>
}