.hard-skills-logo {
  height: 6rem;
}

.font-end-container,
.back-end-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.hard-skills-subtitle {
  display: flex;
  justify-content: center;
  justify-self: center;
  font-size: 1.3rem;
  margin: 2rem;
  border: 2px solid rgb(150, 183, 227);
  border-radius: 15px;
  width: 10rem;
}

.hard-skills-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem;
}

.hard-skills-description {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.hard-skills-subtitle:hover {
  cursor: pointer;
}
