<div class="relative dropdown">
    <button (click)="toggleDropdown()"
        class="text-secondary-foreground border border-secondary-foreground rounded p-1">
        fr / en
    </button>
    <div *ngIf="dropdownOpen" class="absolute right-0 mt-2 w-32 bg-secondary text-secondary-foreground rounded shadow-lg">
        <button (click)="switchLanguage('fr')" class="block w-full text-left px-4 py-2 hover:bg-primary">{{
            'header.french' | translate }}</button>
        <button (click)="switchLanguage('en')" class="block w-full text-left px-4 py-2 hover:bg-primary">{{
            'header.english' | translate }}</button>
    </div>
</div>
